body {
    font-family: 'Source Serif Pro', serif;
    background-color: beige;
    color: seagreen;
    margin: 25px;
}
section{
    padding: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 300px;
    margin: 10px;
}
nav li{
    float: right;
    list-style: none; 
    display: inline;
    padding: 10px;
    margin: 0px;
    margin-bottom: 0.5rem;
}
ul .skills{
    padding: 0px;
}
h1 {
    font-weight: 700;
    font-size: 3em; 
    padding: 10px;
}
h2, h3 {
    font-size: 1em;   
    font-weight: 700;
}
p, a, li {
        font-weight: 400;
        color: black;
    }
.experience {
        padding: 0px;
}
nav a {
    text-decoration: none;
}
.tag, .experience li, .skills li {
    border: 2px solid green;
    display: inline-block;
    padding: 0.75rem;
    margin-bottom: 1rem;;
}
.formLabel {
    font-size: 1em;
    color: green;
}
form input, textarea  {
    font-size: 0.25em;
    border-color: lightseagreen;
    padding: 5px;
}
.submitButton {
    border-style: 2px solid seagreen;
    border-radius: 5px; 
    background-color: rgb(162, 201, 179);
    padding: 5px;
}
footer{
    text-align: center;
    color: white;
    background-color:  seagreen;
    bottom: 0;
    width: 100%;
    font-size: 0.7em;
    height: 1.5rem; 
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     body {font-size: 1em;}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {font-size: 1.3em;}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {font-size: 1.4em;}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {font-size: 1.3em;}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {font-size: 1.25em;}
}